@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .animate-blink {
      animation: blink 1s steps(2, start) infinite;
    }
  
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
  }

  .nav__bg {
    backdrop-filter: blur(24px);
    background-color: rgba(8, 4, 17, .2);
  }

  .timeline-container {
    position: relative;
  }
